* {
  margin: 0;
  box-sizing: border-box;
}

.flex-main-container {
  display: flex;
  
  justify-content: space-evenly;
  border: 2px solid black;
  height: 500px;
  width: 1230px;
  margin: 2px;


}

.flex-items1 {
 justify-content: flex-end;
  flex: 0.25;
  border: 2px solid black;
  height: 50px;
  width: 350px;
  margin: 20px;
  background-color: skyblue;
}

.flex-items2 {
  flex: 0.25;
  border: 2px solid black;
  height: 50px;
  width: 450px;
  margin: 20px;
  background-color: red;
}

.flex-items3 {
  flex: 0.25;
  border: 2px solid black;
  height: 50px;
  width: 550px;
  margin: 20px;
  background-color: yellow;
}

.flex-items4 {
  flex: 0.25;
  border: 2px solid black;
  height: 50px;
  width: 150px;
  margin: 20px;
  background-color: green;
}

